sudo: required
language: node_js

before_script:
  - sudo apt-get update -qq
  - sudo apt-get install -y nodejs
  - sudo apt-get install -y npm
  
install:
  - npm install -g grunt-cli
  
script:
  - grunt test --verbose --force
